/python_services/analyze_ser_service/wav2vec2_checkpoints/models--facebook--wav2vec2-base
*.wav
*.pyc
/models/emotion-recognition
/python_services/analyze_ser_service/pretrained_models
*.ckpt
*.yaml
*.safetensors
*.json
/python_services/wav2vec2_checkpoints
